body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bc-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('your-image-url.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.bc-title {
    font-size: 40px;
    position: absolute;

}

.bc-bier-kaart {
    background: rgb(240,230,135);
    background: linear-gradient(0deg, rgba(240,230,135,1) 0%, rgba(250,250,250,1) 65%, rgba(231,229,229,1) 80%, rgba(217,217,217,1) 100%);
    width: 250px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    left: 15%;
    box-shadow: 9px 5px 20px #6e6e6e;
    margin-bottom: 40px;
}
.bc-beer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 77%;
    margin-top: 50px;
}

.bc-kaart-name {
    font-family: 'Playfair Display', 'Georgia', serif;
    font-size: 20px;
    text-transform: capitalize;
    font-style: italic;
    text-align: center;
    position: relative;
    margin-bottom: 0;
}

.bc-kaart-text {
    font-family: 'Playfair Display', 'Georgia', serif;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: lighter;
    position: relative;
    font-variant: small-caps;
    font-weight: 100;
    text-align: center;
}
.bc-kaart-text2 {
    font-family: 'Playfair Display', 'Georgia', serif;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: lighter;
    position: relative;
    /* font-variant: small-caps; */
    font-weight: 100;
    text-align: center;
}

.bc-kaart-likes {
    font-family: 'Playfair Display', 'Georgia', serif;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: lighter;
    position: relative;
    font-weight: 100;
    left: 10px;
    bottom: -85px;
}

.bc-like-msg {
    position: relative;
    text-align: center;
}

.bc-star-rating {
    position: absolute;
}

.bc-rate {
    position: absolute;
    background-color: transparent;
    border-radius: 10px;
}