body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
  }

h1 {
    text-align: center;
    letter-spacing: 1px;
	margin: 10px 0;
}

h5 {
    opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h4 {
	margin: 8px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}